<!-- расширяет base слой -->
{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}

{% if form.errors %}
		{% for error in form.errors.file_info %}
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ error }}
			</div>
		{% endfor %}
		{% for error in form.errors.spec_info %}
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ error }}
			</div>
		{% endfor %}
		{% for error in form.errors.eduYear_info %}
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ error }}
			</div>
		{% endfor %}
		{% for error in form.errors.pertain_info %}
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ error }}
			</div>
		{% endfor %}
{% endif %}

<script type="text/javascript" charset=utf-8>

$(document).ready(function(){
	sel();
	setTimeout(function () {
		$('select[name="discip_info"]').val({{discip_id}});
		$('select[name="tmtypes_info"]').val({{tmtypes_id}});
	}, 200);
});

function sel(){
        var id_spec = $('select[name="spec_info"]').val();
		discip_info.innerHTML="";
		$.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/select",
            contentType: "application/json; charset=utf-8",
            data: { spec_info: id_spec },
            success: function(data) {
				$.each( data, function(i) {
				$( '#discip_info' ).append( '<option value="' + data[i].discip_id + '">' + data[i].discip_name + '</option>' );
				if ( i === 3 ) {
				return false;
				}
				});
            }
        });
};

function seltype(){
        var id_pertain = $('select[name="pertain_info"]').val();
		tmtypes_.innerHTML="";
		$.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/selecttype",
            contentType: "application/json; charset=utf-8",
            data: { pertain_info: id_pertain },
            success: function(data) {
				$.each( data, function(i) {
				$( '#tmtypes_' ).append( '<option value="' + data[i].tmtypes_id + '">' + data[i].tmtypes_name + '</option>' );
				if ( i === 3 ) {
				return false;
				}
				});
            }
        });
};
</script>

<div class="span2">

</div>
<div class="span6">
	<h3>{{filename}}</h3>
	<form class="form" role="form" method=POST enctype=multipart/form-data action="">
		{{form.hidden_tag()}}
		<div>
			<table class="table">
			{% if role != 2 %}
			<tr>
				<td class="text-right">
					<label for="spec_info">Выберите принадлежность файла<span style="color: red;">*</span>:</label>
				</td>
				<td>
					<div class="form-group">
						{{ form.pertain_info(class = "form-control", onchange="javascript:seltype()") }}
					</div>
				</td>		
			</tr>
			{% endif %}
			<tr>
				<td class="text-right">
					<label for="spec_info">Выберите тип файла<span style="color: red;">*</span>:</label>
				</td>
				<td>
					<div class="form-group">
						{{ form.tmtypes_(class = "form-control") }}
					</div>
				</td>		
			</tr>
			<tr>
				<td class="text-right">
					<label for="file_info">Описание:</label>
				</td>
				<td>
					<div class="form-group">
						{{ form.file_info(cols = 1, rows = 1, class="form-control") }}
					</div>
				</td>
			</tr>
			<tr>
				<td class="text-right">
					<label for="spec_info">Выберите специальность<span style="color: red;">*</span>:</label>
				</td>
				<td>
					<div class="form-group">
						{{form.spec_info(class = "form-control", onchange="javascript:sel()")}}
					</div>
				</td>		
			</tr>
			<tr>
				<td class="text-right">
					<label for="discip_info">Выберите предмет<span style="color: red;">*</span>:</label>
				</td>
				<td>
					<div class="form-group">
						{{form.discip_info(class = "form-control")}}
					</div>
				</td>		
			</tr>
			<tr>
				<td class="text-right">
					<label for="role_info">Выберите уровень доступа<span style="color: red;">*</span>:</label>
				</td>
				<td>
					<div class="form-group">
						{{form.role_info(class = "form-control")}}
					</div>
				</td>
			</tr>
			<tr>
				<td class="text-right">
					<label for="eduYear_info">Выберите курс<span style="color: red;">*</span>:</label>
				</td>
				<td>
					<div class="form-group">
						<input id="eduYear_info" max="4" min="1" name="eduYear_info" type="number" class = "form-control" value="{{eduY}}">
					</div>
				</td>
			</tr>
			<tr>
				<td class="text-center"> 
					<div class="form-group">
						Опубликовать файл? {{ form.public_check }}
					</div>
				</td>
				<td class="text-center">
					<button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-save"></span>Применить изменения</button>
				</td>
			</tr>
			</table>
		</div>
	</form>
	<p class="bg-info"><em><span style="color: red;">*</span> - поля обязательные для заполнения</em></p>
</div>
{% endblock %}