<!-- расширяет base слой -->
{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}
  
  <style type="text/css">
    th {
     font-size: 12px;
    }
  </style>
  
  <script type="text/javascript" charset=utf-8>
  window.onload = sel_;
  function sel_(){
		$('#myTab li[id="{{user_id}}"]').tab('show')
};
</script>

			<div class="span2">
				<!--Sidebar content-->

				<p>Преподаватели:</p>
				<ul class="nav nav-pills nav-stacked" id="myTab">
					{% if role == 2 or role == 3 or role == 4 or role == 5 %}
					
					<li class="active" onclick="javascript:sel()" id="{{g.user.id}}"><a href="{{url_for('filesprep', user_info = g.user.id)}}" id="{{g.user.id}}" name="user_info">Мои файлы</a></li>
					
					{% for user in users %}
						{% include 'usersfiles.html' %}
					{% endfor %}
					{% endif %}
				</ul>
			</div>
			<div class="span9">
				<div class="tab-content">
					<!--Body content-->
					<div class="tab-pane active" id="{{ user_id }}">
						{% for spec in specs %}
						<div class="panel panel-info">
							<div class="panel-heading text-center"><h2>{{ spec.name }}</h2></div>
							<!-- <h3 class="text-center"></h3> -->
							{% for disc in discips %}
								{% if disc.id_spec == spec.id %}
								<h4 class="text-center">{{ disc.name }}</h4>
								<table class="table table-hover">
								<tr bgcolor="#f5f5f5">
										<th scope="col">Файл</th>
										<th scope="col">Предмет</th>
										<th scope="col">Описание</th>
										<th scope="col">Курс</th>
										<th scope="col">Дата загрузки</th>
										<th scope="col">Доступ</th>
									{% if user_id == g.user.id %}
										<th scope="col">Публичный</th>
										<th scope="col">Утвержден</th>
										<th scope="col"></th>
									{% endif %}
									{% if role == 3 and user_id != g.user.id %}
										<th scope="col">Публичный</th>
										<th scope="col"></th>
									{% endif %}
								</tr>
									{% if role == 2 or role == 3 or role == 4 or role == 5 %}
									{% for type in tmtype %}
										{% if type.id_pertain == 3  %}
										<tr bgcolor="#f5f5f5">
											<td colspan="9"><strong><small>{{type.name}}</small></strong></td>
										</tr>
										{% include 'filespreplist.html' %}
										{% endif %}
									{% endfor %}
									{% endif %}
								</table>
								{% endif %}
							{% endfor %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
{% endblock %}