<tr>
	<td>
		<a href="{{url_for('uploaded_file', file_id = file.id, filename = file.name)}}"><span class="glyphicon glyphicon-file"></span> {{file.name}}</a>
    </td>
	<td>
		<span style="color: gray; font-size: 10px;">{{momentjs(file.timestamp).format('LLL')}}</span>
	</td>
	<td>
		<span>{{file.info}}</span>
	</td>
	{% if role == 2 or role == 4 %}
		<td>
			<span>{{file.eduYear}}</span>
		</td>
		<td>
			<span>{{file.role_file.name}}</span>
		</td>
		<td width="40px">
				<a href="{{url_for('editfiles', file_id = file.id)}}"><img src="{{ request.script_root }}/static/img/edit.jpg" alt="Редактировать"></a> <a href="{{url_for('delete', file_id = file.id)}}"><img src="{{ request.script_root }}/static/img/erase.png" alt="Удалить"></a>
		</td>
	{% endif %}
</tr>