<!-- расширяет base слой -->
{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}

			<div class="span2">
				<!--Sidebar content-->
				<p>Цикловые комиссии:</p>
				<table class="table table-hover">
					{% for method in methodadm %}
						<tr>
							<td>
								<a href="{{ url_for('methodsadmin', method_id = method.id) }}">{{ method.name }}</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			<div class="span6">
				<!--Body content-->
				<h2>{{cur_method.name}}</h2>
				<h3>Преподаватели:</h3>
				<table class="table table-hover">
					<tr>
						<th scope="col">ФИО</th>
						<th scope="col"></th>
					</tr>
					{% for user in userp %}
						<tr>
							<td>
								<a href="{{ url_for('profile', userlogin = user.login) }}"><span class="glyphicon glyphicon-user"></span></a> <a href="{{ url_for('filesprep', user_id = user.id) }}">{{ user.name }}</a>
							</td>
							<td width="40px">
								<a href="{{ url_for('edituserp', user_id = user.id) }}"><img src="{{ request.script_root }}/static/img/edit.jpg" alt="Редактировать"></a> <a href="{{ url_for('deleteuser', user_id = user.id) }}"><img src="{{ request.script_root }}/static/img/erase.png" alt="Удалить"></a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
{% endblock %}