<!-- расширяет base слой -->
{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}

			<div class="span2">
				<!--Sidebar content-->
				<p>Специальности:</p>
				<table class="table table-hover">
					{% for spec in specadm %}
						{% include 'specgroupsadm.html' %}
					{% endfor %}
				</table>
			</div>
			<div class="span6">
				<!--Body content-->
				<h2>{{cur_spec.name}}</h2>
				<h3>Группы:</h3>
				<table class="table table-hover">
					<tr>
						<th scope="col">Название</th>
						<th scope="col"></th>
					</tr>
					{% for group in groupsadm %}
						{% include 'groupsadm.html' %}
					{% endfor %}
				</table>
			</div>
{% endblock %}